.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--primary-dark);
  padding: 1rem;
}

.card {
  background: var(--primary);
  padding: 2.5rem 3rem;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2rem;
  color: var(--accent-purple);
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.input {
  width: 100%;
  padding: 0.85rem 1rem;
  margin: 0.6rem 0;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.input:focus {
  box-shadow: 0 0 8px var(--highlight);
}

.button {
  width: 100%;
  padding: 0.85rem;
  background: var(--accent-purple);
  border: none;
  border-radius: 8px;
  color: var(--text-white);
  font-weight: 700;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background: var(--highlight);
}

.loginSection {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

.loginSection a {
  color: var(--accent-blue);
  text-decoration: none;
  font-weight: 600;
  margin-left: 0.4rem;
  transition: color 0.3s ease;
}

.loginSection a:hover {
  color: var(--highlight);
  text-decoration: underline;
}

.tooltipWrapper {
  position: relative;
  width: 108%;
  display: flex;
  align-items: center;
}

.tooltipWrapper .input{
  width: 100%;
  padding: 0.85rem 2.5rem 0.85rem 1rem;
  margin: 0.6rem 0;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.tooltipIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: var(--accent-purple);
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  z-index: 5;
}

.tooltipContent {
  display: none;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-dark);
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
  width: 240px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
  font-size: 0.9rem;
  line-height: 1.4;
}

.tooltipWrapper:hover .tooltipContent {
  display: block;
}

.tooltipContent ul {
  padding-left: 1rem;
  margin: 0;
}

.tooltipContent li {
  margin-bottom: 0.3rem;
}

.valid {
  color: var(--accent-green);
  font-weight: 600;
}

.error {
  color: var(--error);
  font-size: 0.85rem;
  margin-top: 0.2rem;
  text-align: left;
  width: 100%;
}
